@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0deg 0% 94.39%;
    --foreground: 222.2 84% 4.9%;
    --card: 0deg 0% 90.63%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0deg 0% 94.39%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 188.33deg 41.62% 26.39%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210deg 4.75% 82.81%;
    --secondary-foreground: 188.33deg 41.62% 26.39%;
    --muted: 210deg 4.75% 82.81%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210deg 4.75% 82.81%;
    --accent-foreground: 188.33deg 41.62% 26.39%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0deg 0.54% 78.26%;
    --card-border: 0deg 0.54% 78.26%;
    --input: 0deg 0.54% 78.26%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --quizlet-primary: 183, 89%, 31%;
    --quizlet-primary-hover: 183, 89%, 25%;
  }
  .dark {
    --background: 242, 67%, 11%;
    --foreground: 210 40% 98%;
    --card: 225, 30%, 26%;
    --card-foreground: 210 40% 98%;
    --popover: 225, 30%, 26%;
    --popover-foreground: 210 40% 98%;
    --primary: 224deg 38.78% 37.37%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 225, 30%, 26%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 224, 22%, 20%;
    --accent-foreground: 234, 100%, 73%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 225, 30%, 26%;
    --card-border: 225 11% 41%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --quizlet-primary: 234, 100%, 63%;
    --quizlet-primary-hover: 242, 66%, 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
  }

  .no-transition * {
    transition: none !important;
  }

  html,
  body {
    overflow: hidden;
  }
}
